{% block content %}
    <h1 class="title">{{ 'page.list'|trans }}</h1>

    <ul id="page-list">
        {% for quiz in quizes %}
            <li>
                <a href="{{ path('api_1_get_quiz', {'id': quiz.id}) }}">{{ quiz.title }}</a>
                {#[<a href="{{ path('api_1_edit_pages', {'id': page.id}) }}">{{ 'page.edit.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}
                {#[<a href="{{ path('api_1_remove_pages', {'id': page.id}) }}">{{ 'page.remove.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}
            </li>
        {% else %}
            <li>{{ 'page.list.empty'|trans }}</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{{ path('api_1_new_quiz') }}">{{ 'page.new.link'|trans }}</a>
    </p>
{% endblock %}